{% extends 'base.html.twig' %}

{% block title %}Hello RomaController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
body

{
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ffd700;
}


.wrapper {
  width:600px;
  height: 300px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 100px;
}

img {
  width: 100%;
  display: block;
  position: relative;
  user-select: none;
  webkit-user-select: none;
}

.top {
  z-index: 2;
  width: -160px;
  
}

.bottom {
  z-index: 1;
  top: -300px;
}

.moon {
    height: 100px; 
}


</style>


<div class="navbar">
    <div class="container">
        <a href="#" class="logo"><img></img>  </a>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="wrapper">
  <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/127764/Lion_Gif2_1.gif" class="top">
  <img src="https://media3.giphy.com/media/H5TzQ2XXjzdKM/giphy.gif?cid=ecf05e47oe2tmhrbb5byxynj38s7pjbye55q8eq2b4cqwa9h&ep=v1_gifs_related&rid=giphy.gif&ct=g" class="bottom" class="moon">
</div>

{#<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/roman/OneDrive/Dokumente/GitHub/3rdwheel/RomaArtAction/landing/src/Controller/RomaController.php'|file_link(0) }}">src/Controller/RomaController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/roman/OneDrive/Dokumente/GitHub/3rdwheel/RomaArtAction/landing/templates/roma/index.html.twig'|file_link(0) }}">templates/roma/index.html.twig</a></code></li>
    </ul>
</div>#}


{% endblock %}
